@import '../variables';

%ui-label {
  @extend %ui-component;

  @include hidden;

  cursor: default;
  white-space: nowrap;
}

.#{$prefix}-focus-on-label .#{$prefix}-ui-label.bmpui-focus-visible {
  outline: unset;
}

.#{$prefix}-ui-label {
  @extend %ui-label;
}
